/* * {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.intro {
    display: none;
}

.slideshow {
    display: none;
}

.guide {
    display: none;
}

.buttons {
    display: none;
}