/* * {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* body {
    background: white;
} */

.intro {
    display: none;
}

.slideshow {
    display: none;
}

.buttons {
    display: none;
}

.button {
    display: inline;
    padding: 20px;
    border: 1px solid black;
}

/* .tile {
    display: none;
} */