.tile {
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 100px;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid;
    border-right: 50px solid;
    border-bottom: 100px solid transparent;
}

.trapezoid {
    border-bottom: 100px solid transparent;
    border-left: 25px solid;
    border-right: 25px solid;
    height: 0;
    width: 50px;
  }

.circle {
    border-radius: 50%;
}

.one::before {
    content: '1';
}

.two::before {
    content: '2';
}

.three::before {
    content: '3';
}

.four::before {
    content: '4';
}

.token {
    background: purple;
    font-size: 25px;
}

.user::before {
    content: 'EAGLE';
}

.opponent::before {
    content: 'SNAKE';
}