.tile {
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    visibility: visible;
    font-size: 50px;
    color: white;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid;
    border-right: 50px solid;
    border-bottom: 100px solid transparent;
}

.hexagon {
    width: 0;
    height: 0;
    border-right: 60px solid;
    border-top: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.circle {
    border-radius: 50%;
}

/* .circle {
    background-image: url('images/circle.png') / cover;
    position: relative;
}

.circle::before {
    position: absolute;
    background-color:  rgba(36, 70, 105, 0.74) ;
} */

.one::before {
    content: '1';
    padding: 25%;
}

.two::before {
    content: '2';
    padding: 25%;
}

.three::before {
    content: '3';
    padding: 25%;
}

.four::before {
    content: '4';
    padding: 25%;
}

.token {
    background: purple;
}

.user::before {
    content: 'EAGLE';
    padding: 25%;
}

.opponent::before {
    content: 'SNAKE';
    padding: 25%;
}